<!doctype html>
<html lang="en" ng-app='ShoppingListCheckOff'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li>button {
        margin-left: 6px;
      }
      button>span {
        color: green;
      }
    </style>
  </head>
  <body>
    <div class="container" ng-controller="ToBuyController as unBoughtList">
      <h1>Shopping List Check Off</h1>
      <div class="row">
        <div class="col-md-6">
          <h2>To Buy:</h2>
          <ul>
            <li ng-repeat="item in unBoughtList.items">
              Buy {{item.quantity}} {{item.name}} for ${{item.pricePerItem}} each
                <button class="btn btn-default" ng-click="unBoughtList.buyItem($index)">
                  <span class="glyphicon glyphicon-ok"></span> 
                  Bought
                </button>
            </li>
          </ul>
          <div ng-if="unBoughtList.empty()" class="emptyMessage">
            Everything is bought!
          </div>
        </div>
        <div class="col-md-6">
          <h2>Already Bought:</h2>
          <div class="boughtList" ng-controller='AlreadyBoughtController as boughtList'>
            <ul>
              <li ng-repeat="item in boughtList.items">
                Bought {{item.quantity}} {{item.name}} for total price of $$${{item.totalPrice}}
              </li>
            </ul>
            <div ng-if="boughtList.empty()" class="emptyMessage">Nothing bought yet.</div>
          </div>
        </div>
      </div>
  </body>
</html>
